<!DOCTYPE html>
<html>
	<head>
		<title>Dues Owed</title>
		<link href="../styles/style.css" rel="stylesheet" type="text/css" />
		<script language="JavaScript">
			function showform(dowhat) {
				/*
				* four DIVS: browse, insert, update, delete
				* this function sets one visible the others not
				*/
				if (dowhat == 'insert'){
					document.getElementById('browse').style.display = 'none';
					document.getElementById('insert').style.display = 'block';
					document.getElementById('update').style.display = 'none';
					document.getElementById('delete').style.display = 'none';
				}
				else if (dowhat == 'update'){
					document.getElementById('browse').style.display = 'none';
					document.getElementById('insert').style.display = 'none';
					document.getElementById('update').style.display = 'block';
					document.getElementById('delete').style.display = 'none';
				}
				else if (dowhat == 'delete'){
					document.getElementById('browse').style.display = 'none';
					document.getElementById('insert').style.display = 'none';
					document.getElementById('update').style.display = 'none';
					document.getElementById('delete').style.display = 'block';
				}
				else if (dowhat == 'all'){
					document.getElementById('browse').style.display = 'block';
					document.getElementById('insert').style.display = 'block';
					document.getElementById('update').style.display = 'block';
					document.getElementById('delete').style.display = 'block';
				}
				else { //by default display browse
					document.getElementById('browse').style.display = 'block';
					document.getElementById('insert').style.display = 'none';
					document.getElementById('update').style.display = 'none';
					document.getElementById('delete').style.display = 'none';
				}
			}
			function newDuesOwed() { showform('insert'); }
			function updateDuesOwed(pid) { showform('update'); }
			function deleteDuesOwed(pid) { showform ('delete'); }
			function browseDuesOwed() { showform ('browse'); }
			function showAll() { showform ('all'); }
		</script>
	</head>

	<body onload="browseDuesOwed()">
		<h1>Dues Owed</h1>
		<p>Use the links below to find the page you need:</p>
		<nav>
			[ <a href="/cafes">Cafes</a> | <a href="./cafes_franchisees">Cafes and Franchisees</a> | <a href="/dues_owed">Dues Owed</a> | <a href="/franchisees">Franchisees</a> | <a href="/inventory_items">Inventory Items</a> |  <a href="/inventory_orders">Inventory Orders</a> | <a href="/sale_items">Sale Items</a> | <a href="/sales">Sales</a> ]
		</nav>
	
		<div id="browse">
			<p><a href="#" onClick="showAll()">Display all forms</a> </p>
			<table border="1" cellpadding="5">
				<tr>
					<th><a href="#" onClick="newDuesOwed()">New</a></th>
					<th></th>
					<th>id</th>
					<th>franchisee_id</th>
					<th>amount_due</th>
					<th>due_date</th>
					<th>late_fees</th>
				</tr>
				<tr>
					<td><a href="#" onClick="updateDuesOwed('this.duesOwedID')">Edit</a></td>
					<td><a href="#" onclick="deleteDuesOwed('this.duesOwedID')">Delete</a></td>
					<td align="right">1</td>
					<td>1</td>
					<td>500</td>
					<td>04/01/2024</td>
					<td>0</td>

				</tr>
				<tr>
					<td><a href="#" onClick="updateDuesOwed('this.duesOwedID')">Edit</a></td>
					<td><a href="#" onclick="deleteDuesOwed('this.duesOwedID')">Delete</a></td>
					<td align="right">2</td>
					<td>1</td>
					<td>500</td>
					<td>04/01/2024</td>
					<td>0</td>
				</tr>
				<tr>
					<td><a href="#" onClick="updateDuesOwed('this.duesOwedID')">Edit</a></td>
					<td><a href="#" onclick="deleteDuesOwed('this.duesOwedID')">Delete</a></td>
					<td align="right">3</td>
					<td>2</td>
					<td>1000</td>
					<td>04/01/2024</td>
					<td>50</td>
				</tr>
			</table>
			<p>&nbsp;</p>
		</div> <!-- browse -->
		
		<div id="insert">
			<form method="POST" id="addDuesOwed">
				<legend><strong>Add Dues Owed</strong></legend>
				<fieldset class="fields">
					<label> ID: </label>
					<label> franchisee_id </label> <select name="franchiseeId">
						<option value="0">&nbsp;</option>
						<option value="1" selected>1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						</select>
					<label> amount due </label> <input type="text" name="amountDue" value="500">
					<label> late fees </label> <input type="text" name="amountDue" value="0">
				</fieldset>
				<input class="btn" type="submit" id="addDuesOwed" value="Add Dues Owed">
				<input class="btn" type="button" value="cancel" onClick="browseDuesOwed()">
			</form>
		</div><!-- insert -->
		
		<p>&nbsp;</p>
		<div id="update">
			<form method="POST" id="UpdateDuesOwed">
				<legend><strong>Update Dues Owed</strong></legend>
				<fieldset class="fields">
					<input type="hidden">
					<label> ID: </label> 1
					<label> franchisee_id </label> <select name="franchiseeId">
						<option value="0">&nbsp;</option>
						<option value="1" selected>1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						</select>
					<label> amount due </label> <input type="text" name="amountDue" value="500">
					<label> late fees </label> <input type="text" name="amountDue" value="0">
					<label> street name </label> <input type="text" name="streetName" value="Santa Claus Lane">
				</fieldset>
					<input class="btn" type="submit" id="UpdateSaveCafe" value="Save Update Dues Owed">
					<input class="btn" type="button" value="cancel" onClick="browseDuesOwed()">
			</form> 
			</div><!-- update -->
			
			<p>&nbsp;</p>
			<div id="delete" style="display: block">
			<form method="POST" id="deleteDuesOwed">
				<legend><strong>Delete Dues Owed</strong></legend>
					<fieldset class="fields">
					<p>Are you sure you wish to delete the following?</p>
					<input type="hidden" name="duesOwedID" id="deleteDuesOwedID" value="1">
					<label><strong>ID:</strong></label> 1
					<label> <strong>Amount due:</strong> </label> $500
			</fieldset>
			<input class="btn" type="submit" id="DeleteDuesOwed" value="Delete DuesOwed">
					<input class="btn" type="button" value="cancel" onClick="browseDuesOwed()">
			</form> 
			</div><!-- delete -->
	</body>
</html>
