<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dutch Sisters Coffee Management Application - Dues Owed</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="" />
		<link rel="icon" href="favicon.png">
	</head>
	<body>
		<h1>Welcome!</h1>
		<p>This is the Dutch Sisters Coffee Management Application. Authorized use only!</p>
		<br>
		<h2>Dues Owed Data Management</h2>
		<table>
			<thead>
				<tr>
				<th>Dues Invoice ID</th>
				<th>Franchisee ID</th>
				<th>Amount Due</th>
				<th>Due Date</th>
				<th>Late Fees</th>
				<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>1</td>
				<td>123</td>
				<td>$100</td>
				<td>2023-05-31</td>
				<td>$10</td>
				<td>
					<button>Delete</button>
					<button>Update</button>
				</td>
				</tr>
				<tr>
				<td>2</td>
				<td>456</td>
				<td>$200</td>
				<td>2023-06-30</td>
				<td>$20</td>
				<td>
					<button>Delete</button>
					<button>Update</button>
				</td>
				</tr>
				<tr>
				<td>3</td>
				<td>789</td>
				<td>$300</td>
				<td>2023-07-31</td>
				<td>$30</td>
				<td>
					<button>Delete</button>
					<button>Update</button>
				</td>
				</tr>
				<!-- Add more rows as needed -->
			</tbody>
			<tfoot>
				<tr>
				  <td colspan="3"></td>
				  <td>
					<button>Add</button>
				  </td>
				</tr>
			  </tfoot>
		</table>
			
	</body>
</html>