<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dutch Sisters Coffee Management Application</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="" />
		<link rel="icon" href="favicon.png">
	</head>
	<body>
		<h1>Welcome!</h1>
		<p>This is the Dutch Sisters Coffee Management Application. Authorized use only!</p>
		<p>Use the links below to find the page you need:</p>
		<ul>
			<li><a href="/cafes">Cafes</a></li>
			<li><a href="/cafes_franchisees">Cafes and Franchisees</a></li>
			<li><a href="/dues_owed">Dues Owed</a></li>
			<li><a href="/franchisees">Franchisees</a></li>
			<li><a href="/inventory_items">Inventory Items</a></li>
			<li><a href="/inventory_orders">Inventory Orders</a></li>
			<li><a href="/sale_items">Sale Items</a></li>
			<li><a href="/sales">Sales</a></li>
		  </ul>
		</nav>
	</body>
</html>