<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dutch Sisters Coffee Management Application - Sales</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content="" />
		<link rel="icon" href="favicon.png">
	</head>
	<body>
		<h1>Welcome!</h1>
		<p>This is the Dutch Sisters Coffee Management Application. Authorized use only!</p>
		<br>
		<h2>Sales Data Management</h2>
		<table>
			<thead>
			  <tr>
				<th>Sale ID</th>
				<th>Sale Amount</th>
				<th>Item Sold</th>
				<th>Sale Date</th>
				<th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>1</td>
				<td>$50.00</td>
				<td>Product A</td>
				<td>2023-05-01</td>
				<td>
				  <button>Delete</button>
				  <button>Update</button>
				</td>
			  </tr>
			  <tr>
				<td>2</td>
				<td>$15.99</td>
				<td>Product B</td>
				<td>2023-05-02</td>
				<td>
				  <button>Delete</button>
				  <button>Update</button>
				</td>
			  </tr>
			  <tr>
				<td>3</td>
				<td>$9.99</td>
				<td>Product C</td>
				<td>2023-05-02</td>
				<td>
				  <button>Delete</button>
				  <button>Update</button>
				</td>
			  </tr>
			  <!-- Add more rows as needed -->
			</tbody>
			<tfoot>
				<tr>
				  <td colspan="3"></td>
				  <td>
					<button>Add</button>
				  </td>
				</tr>
			  </tfoot>
		  </table>
	</body>
</html>